/* css reset */
* {
    padding:0;
    margin:0;
}

html {
    background-color:#d80041;
    font-family:'arial', sans-serif;
}

body {
    width:75%;
    background-color:#fff;
    margin:auto;
    padding:15px;
}

#morrison {
    width:600px;
    margin:auto;
    padding:50px 50px 50px 100px;
    padding-top:50px;
}

#content {
    background-color:#fff;
    max-width:800px;
    margin:auto;
    margin-top:100px;
    margin-bottom:100px;
    border-radius:40px;
    font-family:'arial', sans-serif;
}

#sidebar {
    background-color:white;
    max-width:700px;
    padding:50px;
    margin:auto;
    margin-bottom:50px;
    border-radius:40px;
    font-family:'arial', sans-serif;
}

#mainHeadline {
    margin:10px 25px;
    font-family:'Lobster Two', sans-serif;
    font-size:48px;
    color:#666;
    text-align:center;
    text-shadow:1px 1px 0px black;
}

#headline {
    margin:30px;
    padding:25px 20px 5px 20px;
    font-family:'Lobster Two', sans-serif;
    font-size:32px;
    color:#666;
    text-shadow:1px 1px 0px black;
}

#mainContent {
    font-family:'arial', sans-serif;
    font-family:'arial', sans-serif;   
}

#subHeadline {
    margin:10px 25px;
    font-family:'arial', sans-serif;
    clear:both;
}

#paragraphOne {
    font-family:'arial', sans-serif;
    margin:10px;
    padding:15px;
    text-align:justify;
}

#paragraphTwo {
    font-family:'arial', sans-serif;
    margin:10px;
    padding:15px;
    text-align:justify;
}

#content article.post-excerpt {
    overflow:hidden;
    margin-bottom:20px;
}

#name {
    margin:10px 25px;
}

#select-choice {
    margin:10px 20px;
}

#textarea {
    margin:10px 20px;
}

#checkbox {
    margin:10px 30px;
}



/* featured image styles */

#content img.featured {
    margin-bottom:10px;
}

/* end featured image styles */

/* thumbnail image styles */

#content img.wp-post-image {
    
}

#content img.attachment-thumbnail {
    float:left;
    margin:5px 20px 0px 0px;
}

#content img.attachment-medium {
    
}

#content img.attachment-large {
    
}

#content img.attachment-full {
    
}

/* end thumbnail styles */

img.bannerImage {
    width:100%;
}

img.banner {
    width:100%;
}

h1 {
    padding:20px;
    font-family:'Lobster Two', sans-serif;
    font-size:32px;
    color:#666;
    text-shadow:1px 1px 0px black;
}

h2 {
    padding:20px;
    font-family:'Lobster Two', sans-serif;
    font-size:28px;
    color:#666;
    text-shadow:1px 1px 0px black;
}

h3 {
    padding:20px;
    font-family:'Lobster Two', sans-serif;
    font-size:24px;
    color:#666;
    text-shadow:1px 1px 0px black;
}

h4 {
    padding:5px 10px;
    margin-left:20px;
}

p {
    padding:20px;
}

p img.bannerImage {
    padding:0;
}

#orderedList {
    margin-left:25px;
    padding-left:15px;
}

#orderedList ol li {
    padding:5px;
}

#unorderedList {
    margin-left:25px;
    padding-left:15px;
}

#unorderedList ul li {
    padding:5px;
}

blockquote {
    width:475px;
    height:auto;
    border-top:15px  #d80041;
    border-top-style:dotted;
    border-bottom:15px #d80041;
    border-bottom-style:dotted;
    padding:20px;
    margin:auto;
    font-family: 'Playfair Display', sans-serif;
    font-size:18px;
    color:#666;
    text-align:justify;
    margin-top:50px;
    margin-bottom:50px;
}

label {
    padding:5px 10px;
    margin-left:20px;
}

input {
    margin:10px 40px;
}

pre {
    margin:auto;
    padding:25px 0px 25px 70px;
    width:200px;
    border-top:1.5px solid #d80041;
    border-bottom:1.5px solid #d80041;
    margin-top:35px;
    margin-bottom:35px;
}

section ul {
    list-style-type:none;
}

section ul li {
    padding:5px;
}

#content small {
    margin-left:360px;
}

#calendar_wrap {
    width:200px;
    margin:auto;
    padding:15px 0px 20px 70px;
}

table > caption {
    font-family:'Playfair Display', sans-serif;
    font-size:22px;
    color:#666;
    padding-bottom:10px;
}

#wp-calendar {
    padding:15px;
    border:.5px solid #d80041;
}

.menu-secondary-menu-container > ul {
    margin-left:10px;
    list-style-type:none;
    padding:15px;
}

#search-3 {
    margin:auto;
    width:500px;
    padding:15px 15px 0px 15px;
}

.menu-secondary-menu-container > ul > li {
    padding:5px;
}

a {
    color:#d80041;
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
    color:#000;
}

a:visited {
    color:#666;
}

footer {
    font-family:'arial', sans-serif;
    text-align:center;
}

footer p {
    font-family:'arial', sans-serif;
}

footer a {
    font-family:'arial', sans-serif;
}

footer small {
    font-family:'arial', sans-serif;
}

/* footer navigation */

#foot-nav {
    display:none;
}

/* RESPONSIVE STYLES */

/* large screen styles -- desktop */
@media all and (min-width:900px) {
    
}


/* medium screen styles -- tablet, larger phones */
@media all and (min-width:600) and (max-width:899) {
    
}


/* small screen styles -- smaller phones */
@media all and (max-width:599) {
    
}