/* Elly Boyd - WEB170 - Template Styles */
/* style.css */

   #left {
        float:left;
        width:60%;
        background-color:#fff;
        padding:25px;
       margin:.5em;
       text-align:justify;
    }
    
    #right {
        float:right;
        width:25%;
        background-color:#fff;
        padding:25px;
        margin:.5em;
        text-align:justify;
    }

    footer {
        clear:both;
    }

p.copy {
    text-align: center;
}
    
/* Larger Screen Styles */
@media all and (min-width:1280px) {
    
    section {
        float:right;
        width:62%;
        background-color:#fff;
        padding:.5em;
    }
    
    aside {
        float:left;
        width:33%;
        background-color:#fff;
        padding:.5em;
    }
    
}
